@font-face{
    font-family: "Digi";
    src: url('/picoreflow/assets/fonts/digital-7-webfont.eot');
    src: local("Digital 7"),
    url('/picoreflow/assets/fonts/digital-7-webfont.woff') format("woff"),
    url('/picoreflow/assets/fonts/digital-7-webfont.ttf') format("truetype");
}

@font-face{
    font-family: "Tables";
    src: url('/picoreflow/assets/fonts/tables.eot');
    src: local("Tables"),
    url('/picoreflow/assets/fonts/tables.woff') format("woff"),
    url('/picoreflow/assets/fonts/tables.ttf') format("truetype");
}

body {
    background: #b9b6af;
}

#status {
    margin-top: 15px;
    color: #d8d3c5;
    font-weight: normal;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #ddd;
    height: 81px;
    -moz-box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.55);
    -webkit-box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.55);
    box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.55);
}

.display {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-size: 40px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #d8d3c5;
    border-color: #000000;
}

.ds-panel {
    border-top: 1px solid #000;
    background: #3F3E3A url('/picoreflow/assets/images/panel_bg.png') repeat;
    -moz-box-shadow: inset 0 0 42px 0 #000;
    -webkit-box-shadow: inset 0 0 42px 0 #000;
    box-shadow: inset 0 0 42px 0 #000;
}

.ds-title-panel {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe8e8e8',GradientType=0);
    height: 18px;
}

.ds-title {
    display: inline-block;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    width: 100px;
    border-right: 1px solid #b9b6af;
    vertical-align: top;
    text-align: center;
    color: #8B8989;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}

.ds-num {
    width: 100px;
    font-family: "Digi";
    border-right: 1px solid #b9b6af;
    white-space: nowrap;
    text-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

.ds-input {
    color: #d8d3c5;
    font-family: "Digi";
    font-size: 24px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 1);
    background: #3F3E3A url('/picoreflow/assets/images/panel_bg.png') repeat;
    -moz-box-shadow: inset 0 0 12px 0 #000;
    -webkit-box-shadow: inset 0 0 12px 0 #000;
    box-shadow: inset 0 0 12px 0 #000;
    text-align: right;
    padding: 0;
    padding-right: 7px;

}

.ds-unit {
    font-family: "Arial";
    font-size: 22px;
    vertical-align: top;
    line-height: 32px;
    margin-left: 4px;
}

.ds-led {
    margin: -5px;
    font-family: "Tables";
    font-size: 38px;
    color: #1F1E1A;
    text-shadow: 0 0 5px #000, 0 0 5px #000;
}

.ds-trend {
    top: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25), -1px -1px 0 rgba(0, 0, 0, 0.4);
    color: rgb(233, 233, 233);
    font-size: 20px;
}

.ds-target {
    color: #75890c;
}

.ds-state {
    border: none;
    width: initial;
}

.ds-text {
    font-family: sans-serif;
    font-size: 32px;
}

.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: #3f3e3a;
    border-color: #000000;
    border-top: 1px solid #b9b6af;
    margin: 0;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
}

.progress-bar {
    background-color: #75890c;
    font-family: "Digi";
    font-size: 16px;
}


.panel-default {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.55);
    -webkit-box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.55);
    box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.55);
    margin-top: 15px;
    background: #3F3E3A url('/picoreflow/assets/images/panel_bg.png') repeat;
}

.panel-heading {
    background: #fafafa url('/picoreflow/assets/images/page_bg.png') repeat-x;
    overflow: hidden;
    padding: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-body {
    -moz-box-shadow: inset 0 0 42px 0 #000;
    -webkit-box-shadow: inset 0 0 42px 0 #000;
    box-shadow: inset 0 0 42px 0 #000;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    background: rgba(0,0,0,0.2)
}

#profile_selector {
    border: 1px solid rgb(194, 194, 194);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgb(229,229,229);
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
    padding: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    -moz-box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.05),inset 0 0 9px 2px #000;
    -webkit-box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.05),inset 0 0 0 0 #000;
    box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.05),inset 0 0 0 0 #000;
}

.select2-container {
    position: relative;
    top: -3px;
    width: 190px;
    height: 34px;
}

.select2-container .select2-choice {
    line-height: 32px;
}

.graph {
    width: 100%;
    height: 300px;
    font-size: 14px;
    line-height: 1.2em;
}

.edit-points {
    margin-bottom: 5px;
}

.edit-points h3 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.edit-points .row{
    margin-bottom: 5px;
}

.btn-success {
    background: rgb(164,179,87);
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,179,87,1)), color-stop(100%,rgba(117,137,12,1)));
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 );
    background-color: #75890c;
}

.modal-content {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.modal-body {
    background: #fafafa;
}

.modal-footer {
    margin-top: 0;
}

.modal-body .table {
    margin-bottom: 0;
}

.select2-container .select2-choice {
    height: 34px;
    margin-top: 1px;
}

.modal.fade.in {
    top: 10%;
}

.alert {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f5f5f5),to(#e8e8e8));
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe8e8e8',GradientType=0);
    -moz-box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 1.1em 0 rgba(0,0,0,0.75);
}

.alert-success {
    background: rgb(164,179,87);
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,179,87,1)), color-stop(100%,rgba(117,137,12,1)));
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 );
    color: #fff;
}

.alert-error {
    background: rgb(206,57,20);
    background: -moz-linear-gradient(top, rgba(206,57,20,1) 0%, rgba(163,38,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,57,20,1)), color-stop(100%,rgba(163,38,0,1)));
    background: -webkit-linear-gradient(top, rgba(206,57,20,1) 0%,rgba(163,38,0,1) 100%);
    background: -o-linear-gradient(top, rgba(206,57,20,1) 0%,rgba(163,38,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(206,57,20,1) 0%,rgba(163,38,0,1) 100%);
    background: linear-gradient(to bottom, rgba(206,57,20,1) 0%,rgba(163,38,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce3914', endColorstr='#a32600',GradientType=0 );
    color: #fff;
}

.modal-body td {
    width: 50%;
}

.table-responsive {
    overflow-x: hidden;
    overflow-y: hidden;
}
